<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="iplayerApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BBC iPlayer A-Z</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="ProgramListCtrl">
  <a href="#" id="A" ng-click="getProgramList('a')">A</a>
  <a href="#" id="B" ng-click="getProgramList('b')">B</a>
  <a href="#" id="C" ng-click="getProgramList('c')">C</a>
  <a href="#" id="D" ng-click="getProgramList('d')">D</a>
  <a href="#" id="E" ng-click="getProgramList('e')">E</a>
  <a href="#" id="F" ng-click="getProgramList('f')">F</a>
  <a href="#" id="G" ng-click="getProgramList('g')">G</a>
  <a href="#" id="H" ng-click="getProgramList('h')">H</a>
  <a href="#" id="I" ng-click="getProgramList('i')">I</a>
  <a href="#" id="J" ng-click="getProgramList('j')">J</a>
  <a href="#" id="K" ng-click="getProgramList('k')">K</a>
  <a href="#" id="L" ng-click="getProgramList('l')">L</a>
  <a href="#" id="M" ng-click="getProgramList('m')">M</a>
  <a href="#" id="N" ng-click="getProgramList('n')">N</a>
  <a href="#" id="O" ng-click="getProgramList('o')">O</a>
  <a href="#" id="P" ng-click="getProgramList('p')">P</a>
  <a href="#" id="Q" ng-click="getProgramList('q')">Q</a>
  <a href="#" id="R" ng-click="getProgramList('r')">R</a>
  <a href="#" id="S" ng-click="getProgramList('s')">S</a>
  <a href="#" id="T" ng-click="getProgramList('t')">T</a>
  <a href="#" id="U" ng-click="getProgramList('u')">U</a>
  <a href="#" id="V" ng-click="getProgramList('v')">V</a>
  <a href="#" id="W" ng-click="getProgramList('w')">W</a>
  <a href="#" id="X" ng-click="getProgramList('x')">X</a>
  <a href="#" id="Y" ng-click="getProgramList('y')">Y</a>
  <a href="#" id="Z" ng-click="getProgramList('z')">Z</a>

  <ul class="programs">
    <li ng-repeat="program in programs">
      <p class="title">{{program.title}}</p>
      <img id="{{program.image}}"src="{{program.image}}">
      <p class="synopsis">{{program.synopses.small}}</p>
    </li>
  </ul>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers/programListCtrl.js"></script>
</body>
</html>
