<div ng-init="getProgramList('m', '1')">
  <h2>M</h2>
  <a href="#/m" id="M1" ng-click="getProgramList('m', '1')">1</a>
  <a href="#/m" id="M2" ng-click="getProgramList('m', '2')">2</a>
  <a href="#/m" id="M3" ng-click="getProgramList('m', '3')">3</a>
  <a href="#/m" id="M4" ng-click="getProgramList('m', '4')">4</a>
<ul class="programs">
  <li ng-repeat="program in programs">
    <p class="title">{{program.title}}</p>
    <img id="{{program.image}}"src="{{program.image}}">
    <p class="synopsis">{{program.synopses.small}}</p>
  </li>
</ul>
</div>
